/*selector universal*/

*{
    margin: 0;
    padding: 0;
 
 }
 /*Selector de Etiqueta*/
 
 body{
    background-color: rgb(234, 178, 241);
    color:black;
 
 }
 /*Selector Id*/
 #contenedor{
    width: 100%;
    height: 100%;
    background-color: rgb(238, 156, 180);
    margin: 10px;
    padding: 20px;
 }
 
 #menu{
    height: 1%;
    background-color: rgb(246, 193, 244);
    margin: 1em;
    border-radius: 5px;
 }
 #encabezado{
    width: 85%;
    background-color: rgb(222, 160, 239);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
 }
 /*Selector de etiqueta*/
 ul{
    text-align: center;
    padding: 10px;
 
 }
 li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
 }
 li a:hover{
    color: rgb(233, 170, 182);
    font-size: 20px;
    text-decoration: none;
    list-style: none;   
 }
 /*Selector de clase*/
 .img{
    width: 30%;
    border-radius: 30px;
    justify-items: center;

   
  }
  .pie{

   height: 20px;
   background-color: rgb(113, 186, 255);
   margin: 1.5em;
   text-align: center;
   padding: 5px;
   border-radius: 5px;}

 .texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: rgb(0, 0, 0);
 }
  /*card*/
 
  .card{
    
    box-shadow: 0 4px 8px 0 black;
    overflow: hidden;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    margin: 25px;
  }
  .card:hover{
 
    max-width: 310px;
  }
 
  .card img{
 
    background-color: rgb(158, 145, 228);
  }
  .title{
 
    color: chocolate;
    font-size: 10px;
  }
  button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  } 
  .linea {
    width: 80%;
    height: 1px;
    background-color: #000; 
    margin: 20px auto;
 }
 html{
    scroll-behavior: smooth;
 }
 
 .contenedorflex{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 30%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
 
 }
 .Flex{
    display: flex;
    flex-direction:row;
    width: 90%;
    height: 30%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
  }
 