/*selector universal*/

*{
    margin: 0;
    margin: 0;


}
/*selector de etiqueta*/

body{

    background-color: rgb(17, 10, 10);
    color: black;
}
/*selector id*/
#contenedor{

    width: 900px;
    height: 6000px;
    background-color: rgba(223, 136, 208, 0.815);
    margin: 10px;
    padding: 20px;
}

#encabezado{

    width: 95%;
    background-color: rgb(115, 224, 192);
    margin: 1em;
    border-radius: 5px;
    text-align: center;

}
#menu{
    height: 50px;
    background-color: rgb(202, 112, 125);
    margin: 1em;
    border-radius: 5px;
}
/*selector de etiqueta para el menu*/

ul{

    text-align: center;
    padding: 10px;
}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
img:hover{
    width: 50%;
}

li a:hover{

    color: rgb(255, 128, 238);
    font-size: 20px;
    text-decoration: none;
    list-style: none;

}

/*selector de  clase*/
.img{

    width: 50px;
    border-radius: 30px;
    justify-items: center;

}

.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #000;

}

.pie{

    height: 20px;
    background-color: rgb(113, 186, 255);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
.pie h4{

    padding: 4px;
    font-size: 30px;
    background-color: #000;
}
/*selector universal*/
*{
    margin: 0;
    padding: 0;

}
/*selector de etiqueta*/
body{

    background-color: rgba(228, 157, 224, 0.904);
    color: rgb(50, 18, 226);
}
/*selector id*/
#contenedor{
    width: 900px;
    height: 6500px;
    background-color: rgb(196, 222, 255);
    margin: 3em;
    border-radius: 5px;
    text-align: center;
    font-family: 'Lucida Sans';

}
#menu{
    height: 35px;
    background-color: rgba(150, 216, 255, 0.637);
    margin: 2em;
    border-radius: 5px;
}
.card{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    max-width: 500px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
}
.card:hover{
    max-width: 310px;

}
.card img{
    background-color: white;
}
.title{
    color: #000;
    font-size: 18px;

}
button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}